.banner{
  /* Transparent gradient over the image */
  background-image:
    linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 60%),
    url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner .container{
  color:#fff;
}

.banner h1{
  color:#fff;
  font-size: 50px;
  line-height: 1.1;
}
.banner h2{
  color:#fff;
  font-size: 28px;
  font-weight: 300;
  opacity:.9;
  margin-bottom: 22px;
}
